EducaPrisma/bin/
EducaPrisma/obj/
EducaPrisma/DataProtection-Keys

[Nn]uget/
*.nupkg
packages/  

EducaPrisma/wwwroot/lib

EducaPrisma/appsettings.json  
EducaPrisma/appsettings.Development.json
EducaPrisma/appsettings.Production.json

EducaPrisma.Domain/bin/
EducaPrisma.Domain/obj/

.vs

